@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper-button-prev,
.swiper-button-next {
  color: #fc495d !important;
  transition: background-color 0.2s ease, color 0.2s ease;
  /* margin-right: -30px !important; */
}

.swiper-pagination-bullet,
.swiper-pagination-bullet-active {
  background-color: #fc495d !important;
  transition: background-color 0.2s ease, color 0.2s ease;
  border-radius: 0% !important;
}
